{% extends 'base.html.twig' %}

{% block body %}

    {% if games %}
        {% for game in games %}
            <div class="col-md-4">
                <a href="{{ path('index') }}" class="btn btn-outline-dark btn-lg">Home</a>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Games in progress</li>
                    <li class="list-group-item">{{ game }}</li>
                </ul>
            </div>
        {% endfor %}

        {% else %}
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">No Games Found</li>
                <li class="list-group-item"> / </li>
            </ul>
        </div>

    {% endif %}

{% endblock %}